#root {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.pageWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.colorGrid {
  display: grid;
  width: 403px;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}

.colorSquare {
  height: 203px;
  width: 203px;
}
