#root {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.colorWrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}

.colorSquare {
  height: 50vh;
  /* width: 50vw; */
}
